body{margin:0;padding: 0;}

/* kết thúc phần 1 */
.navbar{
    background:#f39c12;
    height: 65px;
}
.doimaunavbar{
    background: rgb(253, 215, 2);
}


img{
    height: auto;
   max-width: 100%;
}
.logo{
    width: 267px;
    height: 67px;
    padding-bottom: 5px;
    padding-left: 92px;
    padding-top: 5px;
}
@media (max-width:480px)
{
    .navbar{ background:#f39c12;
        height: 67px;
    }
    .doimaunavbar{
        background: rgb(253, 215, 2);
    }
    .logo{
        width: 227px;
        height: 67px;
        padding-bottom: 20px;
        padding-left: 10px;
    }
    /* .menu{
        background-color:rgb(253, 215, 2);
        width: 100%;
        height: 285px;
        margin-top: -15px;
    } */
    .menu .active .nav-link{
        width: 100%;
        background: black;
        border-radius: 5px;
        transition: 0.2s;
        color:  rgb(253, 215, 2)!important; 
        
        margin-left: -200px;
    }
    .menu .navbar-nav{
        margin-left: -100px;
        font-family: tahoma;
        font-size: 20px;
        font-weight: bold;
        
    }
    .nav-item{
        margin-left:  50px;
        font-family: tahoma;
        font-size: 20px;
        font-weight: bold;
        
    }
    .menu .nav-link:hover {
        background: black;
        border-radius: 5px;
        transition: 0.2s;
        color:  rgb(253, 215, 2)!important;
     }
     .doimaunavlink{
         background: black;
         border-radius: 5px;
         transition: 0.2s;
         color:  rgb(253, 215, 2)!important;
     }
}
.menu .navbar-nav{
    margin-left: 200px;
    font-family: tahoma;
    font-size: 20px;
    font-weight: bold;
    float: left;
}
.nav-item{
    margin-left:  50px;
    font-family: tahoma;
    font-size: 20px;
    font-weight: bold;
    
}


.menu .nav-link:hover {
   background: black;
   border-radius: 5px;
   transition: 0.2s;
   color:  rgb(253, 215, 2)!important;
}
.doimaunavlink{
    background: black;
    border-radius: 5px;
    transition: 0.2s;
    color:  rgb(253, 215, 2)!important;
}

.spam{
    background: black;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 5px;
}
.phan2_1{
    padding: 3px 7px;
    text-decoration: none;
}
i{
    color: white;
    font-size: 50px;
    float: left;
    margin-right: 10px;
    height: 30px;
}
.tragop:hover{
    text-decoration: none;
}
.phan2_1:hover{
    text-decoration: none;
}

.tragop2{
    font-size: 14px;
    text-decoration: none;
}
.spam:hover{
    background:  rgb(253, 215, 2);
    color: black;
    text-decoration: none;
}
.spam:hover i{
    color: black;
}
.phan3_1:hover img{
    transform: scale(1.1);
}
.phan3_1 {
    overflow: hidden;
    display: block;
    margin: 10px;   
}
.phan3_1:hover{
    text-decoration: none;
}
.phan3_1:hover .card-body{
    transform: scale(1.01);
    background: rgb(253, 215, 2);
    transition: 0.5s;
}
.phan3_1 img{
    transition: 1s;
}
.card-body:hover{
    background: rgb(253, 215, 2);
    transition: 1s;
    
}

.card-body{
    background: black;
    cursor: pointer;
}
.card-title{
    color: white;
    
}
.card-title:hover{
    text-decoration: none;
}
.phan3_1:hover .card-title{
    color: black;
}
/* CSS cho phần 5 và 6*/
.khoi1{
    width: 100%;
    height:  100%;
    display: block;
    margin: auto;
    position: relative;
    overflow: hidden;   
    box-sizing: border-box;
    float: left;
    border-radius: 4px;
    margin-bottom: 20px;
    

}
.phan5{
    margin-bottom: 30px;
}
.khoi1 .layer1{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 1s;
   

}
.khoi1:hover .layer1{
    transform: scale(1.2);
    transition: 1s;
}
.khoi1 .layer2{
   width:  100%;
   height:  100%;
   position: absolute;
   z-index: 2;
   background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%,rgba(0, 0, 0, 0.61));
   transition: 0.7s;
   top: 0px;
   left: 0px;
   transform: scale(1)
}
.khoi1 .layer3{
    
    position: absolute;
    z-index: 3;
    transition: 0.4;
    padding: 8px 10px;
    bottom: 0px;
    left: 0px;
    color: whitesmoke;
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: 700;
    margin-left: 40px;
    

}
.khoi1:hover .layer2{
    opacity: 0;
    transition: 0.8s;
}
.khoi1:hover .layer3{
  bottom: 10px;
  color: rgb(253, 215, 2);
    
    
}
/* CSS cho phần 6 */
.chulon{
    font-size: 20px;
    text-align: center;
    color: whitesmoke!important;
}
.chunho{
    color: whitesmoke;
    text-align: center;
}
.hihi:hover .chunho,.chulon{
    color: black;
}

/* CSS cho footter */
footer{
    background: #1d1d1d;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
.footer1{
    font-size: 14px;
    
}


.khoifooter1{
    margin: 10px;
    float: left;
}
li{
    margin-bottom: 10px;
    list-style: none;
}
.baofooter{
    padding-top: 20px;
}
ul li a{
    
    color: whitesmoke;
}
ul li p{
    font-size: 15px;
}
.iconfb{
    width: 80px!important;
    height: 60px;
    
    
}
 .iconyt{
    width: 52px;
    height: 57px;
    margin-top: 3px;
}
.footer11{
    width: 200px;
    display: block!important;
}
ul li a:hover{
    color: rgb(253, 215, 2);
    text-decoration: none;
}
/* css cho khối top và nut top */

.top,.home,.phone{
    color: black;
    font-size: 24px;
    margin-left: 14px;
    margin-top: 10px;
    cursor: pointer;
    
    
}
.phone{
    animation: chuy 1s infinite;
}
@keyframes chuy{
    0%{transform:rotate(0deg);}
    20%{transform:rotate(-20deg);}
    40%{transform:rotate(20deg);}
    60%{transform:rotate(0deg);}
    80%{transform:rotate(-20deg);}
    100%{transform: rotate(0deg);}

}
.khoitop{
    position: fixed;
    left: 40px;
    bottom: -3px;
    width: 170px;
    height: 40px;
    background-color: rgb(253, 215, 2); 
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    z-index: 10;
}
.hienkhoitop{
    opacity: 1;
    visibility:visible;
}
/* css cho phần đăng kí tư vấn */
.tuvan{
    width: 270px;
    height: 35px;
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 0px;
    background: rgb(253, 215, 2);
    cursor: pointer;
    border-radius: 5px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.xoatuvan{
    opacity: 0;
    visibility: hidden;
}
._11{
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 258px;
    margin-top: -5px;
    text-align: center;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 500;
}
._10{
    margin-left: 10px;
    margin-top: -10px;
}
.bangtuvan{
    width: 360px;
    height: 400px;
    position: fixed;
    right: 10px;
    bottom: 0px;
    background-color:rgb(253, 215, 2) ;
    z-index: 10;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    
}
.hienbangtuvan{
    opacity: 1;
    visibility: visible;
    transform: rotateY(200px);
}
.baotuvan1{
    width: 360px;
    height: 140px;
    background: rgb(253, 215, 2);


}
._12{
    color: black;
    padding-top: 30px;
    margin-left: 20px;
    font-size: 18px;
}
.iconclose{
    color: black;
    font-size: 18px;
    margin-left: 320px;
    margin-top: -20px;
}
.dienmau{
    text-align: center;
    margin-top: 30px;
}
.baotuvan2{
    width: 360px;
    height: 310px;
    background-color: whitesmoke;
    padding-top: 30px;
   
    
}
.baotuvan2_2{
    width: 300px;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.575);
    margin-left: 30px;
    border-radius: 4px;
    


}
.dienten,.diendt{
    width: 240px;
    height: 40px;
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 20px;
}
.dangkituvan{
    width: 240px;
    height: 40px;
    background-color:rgb(253, 215, 2) ;
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Segoe UI';
    padding-top: 5px;
    cursor: pointer;

}
.dangkituvan:hover{
    background-color: rgb(134, 115, 3) ;
}
/* css phần 8 */
.phan8{
    width: 100%;
    height: 150px;
}
.hang{
    margin-top: 60px;
}

/* CSS cho phần 7 */
.phan7{
    width: 100%;
    height: 240px;
    background: #e6e7e8;
    padding: 30px;

}
.chuto,.chuto_1{
    font-size: 23px;
    font-weight: 500;

}
.chunho_1{
    margin-top: 10px;
    
}
.baonut_1{
    margin-top: 10px;
}
.nutemail,.nuthotline{
    width: 60%;
    height: 40px;
    background: #231f20;
    color: #fff;
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
   
}
.nutemail{
    margin-left: 40px;
}
.nutemail:hover,.nuthotline:hover{
    background: rgb(253, 215, 2) ;
}
.nuthotline{
    margin-left: -30px;
    float: left;
}
/* css cho phan7 ben phai */
.email{
    margin-top: 15px;
    height: 30px;
}
.dangky_1{
    margin-left: 180px;
    margin-top: -30px;
    width: 70px;
    height: 30px;
    background: #231f20;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    font-weight: 500;

}
.dangky_1:after{
    content: "";
    width: 0px;
    height: 0px;
    border: 7px solid #ff000000;
    background: transparent;
    position: absolute;
    border-right-color: #231f20;
    top: 92px;
    left: 183px;
}
.nutdongy{
    margin-top: 20px;
}
/* CSS cho phần 7 */
.phan7{
    width: 100%;
    height: 240px;
    background: #e6e7e8;
    padding: 30px;

}
.chuto,.chuto_1{
    font-size: 23px;
    font-weight: 500;

}
.chunho_1{
    margin-top: 10px;
    
}
.baonut_1{
    margin-top: 10px;
}
.nutemail,.nuthotline{
    width: 60%;
    height: 40px;
    background: #231f20;
    color: #fff;
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
   
}
.nutemail{
    margin-left: 40px;
}
.nutemail:hover,.nuthotline:hover{
    background: rgb(253, 215, 2) ;
}
.nuthotline{
    margin-left: -30px;
    float: left;
}
/* css cho phan7 ben phai */
.email{
    margin-top: 15px;
    height: 30px;
}
.dangky_1{
    margin-left: 180px;
    margin-top: -30px;
    width: 70px;
    height: 30px;
    background: #231f20;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    font-weight: 500;

}
.dangky_1:after{
    content: "";
    width: 0px;
    height: 0px;
    border: 7px solid #ff000000;
    background: transparent;
    position: absolute;
    border-right-color: #231f20;
    top: 92px;
    left: 185px;
}
.nutdongy{
    margin-top: 20px;
} 
/* Css reponsive  */
@media(max-width: 480px)
{
    .phan8{
        width: 100%;
        height: 230px;
        background: fff;
        padding-left: 40%;
    }
    .hang{
        margin-top: 5px;
        width: 80px;
        height: 30px;
        
       
        
    }
    .baohang{
        width: 90px;
    }
    /* CSS cho phần 7 ben trai */
    .phan7{
    width: 100%;
    height: 340px;
    background: #e6e7e8;
    padding: 30px;

    }
    .chuto,.chuto_1{
    font-size: 20px;
    font-weight: 500;

    }
    .chunho_1{
    margin-top: 10px;
    
    }
    .baonut_1{
    margin-top: 10px;
    }
    .nutemail,.nuthotline{
    width: 40%;
    height: 40px;
    background: #231f20;
    color: #fff;
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
    
    
   
    }
    .nutemail{
    margin-left: 20px;
    }
    .nutemail:hover,.nuthotline:hover{
    background: rgb(253, 215, 2) ;
    }
    .nuthotline{
    margin-left: 220px;
    margin-top: -39px;
    float: left;
    }
    .chuto_1{
        margin-top: 10px;
    }
    .dangky_1:after{
        top: 90px;
    }
    .chunho_1{
        margin-top: 2px;
    }
    /* responsive cho bangdangki */
    .khoitop{
        width: 50px;
        height: 150px;
        border-radius: 40px;
        margin-left: -50px;
        margin-bottom: -17px;
        padding-top: 5px;
        padding-left: 2px;
    }
    .tuvan{
        width: 200px;
        margin-bottom: -3px;
        
    }
    ._11{
        margin-left: 188px;
        margin-top: -10px;
    }
    .bangtuvan{
        right: 0px;
    }
   
}













